.container {
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #40703e;
  margin-left: 125px;
  flex-direction: row;
}
span.tag.tag-teal {
  margin-bottom: 20px;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  width: 300px;
  transition: transform 0.25s;
  border: 2px solid;
}
.card:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 20px rgb(2, 89, 31);
}
.btn-action {

}

.fix__resize{
  width: 100%;
  margin-top: 10px;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-height: 210px;
  margin-top: 10px;
}
.product-address {
  color: rgb(222, 182, 182);
  font-style: italic;
}
.product-address--content {
  color: #40703e;
}
.card-body p {
  font-size: 16px;
  margin: 9px 0;
  padding: 0 0px;
  font-family: cursive;
  text-transform: capitalize;
  font-weight: 700;
}

h4.product-name {
  font-size: 20px;
  font-family: cursive;
  margin: 5px;
  color: black;
}

p.product-price {
    font-size: 18px;
    color: #40703e;
    font-family: fantasy;
    padding-right: 0;
}
span.tag.tag-teal {
  margin-bottom: 10px;
}
h5.user-address {
  font-size: 9px;
}

.card-header {
  width: 100%;
  height: 300px;
  min-height: 300px;
  max-height: 300px;
}

.btn6{
  border:1px solid transparent; 
   -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}

.btn6::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom:0px;
  z-index:-1;
  width: 0%;
  height:1px;
  background: #40703e;
  box-shadow: inset 0px 0px 0px #40703e;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

.btn6:hover::before {
  width:100%;
}

.btn6::after {
  content: '';
  position: absolute;
  right: 0px;
  top:0px;
  z-index:-1;
  width: 0%;
  height:1px;
  background: #40703e;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}
.btn6:hover::after {
  width:100%;
}
.btn6:hover{
  border-left:3px solid #40703e;
  border-right:3px solid #40703e;
}

.btn6{
  padding: 12px 10px;
  margin:15px 130px;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  background: #d4d4d44a;
  font-size: 15px;
}
.fix_buyereth{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 15px 0px;
  align-items: center;
}

.product__address{
  width: 100%;
}
.product-addresss{
    color: #0000006b;
    font-size: 14px !important;
    font-family: fantasy !important;
    font-weight: 100 !important;
    text-overflow: ellipsis;
    overflow: hidden;
}