.click_delivery{
    border: none;
    border-radius: 16px;
    padding: 0.5rem 0.6rem;
    color: white;
    background-color: #6cff73;
    cursor: pointer;
}
.click_delivery:hover{
    background-color: #cccccc8a;
    transition: 0.5s all ease;
    color: white;
}